.workingDaysHoursTopWrapper p {
  font-size: 1.2em !important;
  font-family: "Roboto", serif;
  font-weight: bold;
}

.workingDaysHoursTopWrapper h3 {
  font-size: 1.2em !important;
  font-family: "Roboto", serif;
  font-weight: bold;
}

.workingDaysHoursViewTable td{
  padding-left: 50px;
}

